In [3]:
# Palindrome Python One-Liner
phrase = 'abba'
phrase.find(phrase[::-1])

0

In [ ]:
# Read File Python One-Liner
# Execute with a file.
[line.strip() for line in open(filename)]

In [8]:
# Fibonacci Python One-Liner
x = 10
lambda x: x if x<=1 else fib(x-1) + fib(x-2)

In [9]:
# If else
var = 21 if 3<2 else 42

In [12]:
# elif
x = 50
print("no") if x > 42 else print("yes") if x == 42 else print("maybe")

no

In [15]:
# if without else
condition = True
if condition: print('hello')
print('hello') if condition else None

hello
hello

In [16]:
# Function
f = lambda x: "hello "+ x
f = exec("def f(x):\n    return 'hello '+ x")

In [18]:
# Loop (list comprehension)
squares=[i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# Loop with if
squares = [i**2 for i in range(10) if i%2==0]
squares

[0, 4, 16, 36, 64]

In [20]:
# Loop with if else
squares = [i**2 if i%2==0 else False for i in range(10)]
squares

[0, False, 4, False, 16, False, 36, False, 64, False]

In [22]:
# While loop with if else
c = 0
while c < 10: c+=1; print(c) if c!=5 else print("FIVE")

1
2
3
4
FIVE
6
7
8
9
10

In [24]:
# Multi assignment
a, b, c = "One", 2, 3.001
a

'One'

In [25]:
# Writing string to file
text = "Helllloooooo"
fileName = "hello.txt"
print(text, file=open(fileName, 'a'))

In [26]:
# Quick sort
array = [29,99,27,41,66,28,44,78,87,19,31,76,58,88,83,97,12,21,44]
q = lambda l: q([x for x in l[1:] if x <= l[0]]) + [l[0]] + q([x for x in l if x > l[0]]) if l else []
print(q(array))

[12, 19, 21, 27, 28, 29, 31, 41, 44, 44, 58, 66, 76, 78, 83, 87, 88, 97, 99]

In [28]:
# Fibonacci
fib=lambda x: x if x<=1 else fib(x-1) + fib(x-2)

In [ ]:
# HTTP Server
python -m http.server 8000

In [29]:
# Nested for loops
iter1 = [1, 2, 3, 4]
iter2 = ['a', 'b', 'c']
[print(x, y) for x in iter1 for y in iter2]

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c

[None, None, None, None, None, None, None, None, None, None, None, None]

In [30]:
# Print without new line
print(*range(1,5))

1 2 3 4

In [31]:
# Sum of even numbers
a = [1,2,3,4,5,6]
s = sum([num for num in a if num%2 == 0])
print(s)

12

In [32]:
# Fizz Buzz
['FizzBuzz' if i%3==0 and i%5==0 else 'Fizz' if i%3==0 else 'Buzz' if i%5==0 else i  for i in range(1,20)]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19]

In [33]:
# Space seperated integers to list
lis = list(map(int, input().split()))
print(lis)

1 2 3 4
[1, 2, 3, 4]

In [34]:
# Lambda Function
sqr = lambda x: x * x  ##Function that returns square of any number
sqr(10)

100

In [35]:
# prime numbers
list(filter(lambda x:all(x % y != 0 for y in range(2, x)), range(2, 13)))

[2, 3, 5, 7, 11]

In [36]:
# Find max
findmax = lambda x,y: x if x > y else y 
findmax(5,14)

14

In [37]:
# Linear algebra
def scale(lst, x): return [i*x for i in lst] 
scale([2,3,4], 2) ## call

[4, 6, 8]

In [38]:
# Counting occurrence of a pattern
import re; len(re.findall('python','python is a programming language. python is python.'))

3

In [39]:
# Replacing a text with other text
"python is a programming language.python is python".replace("python",'Java')

'Java is a programming language.Java is Java'

In [40]:
# Generating groups
groups = [(a, b) for a in ['a', 'b'] for b in [1, 2, 3]] 
groups

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]