In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel('/home/ravik/src_git/LP/implementations/dataframes/coalpublic2013.xls', header=None)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Historical Coal Production Data: 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Source: The U.S. Energy Information Administra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
4,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392

In [10]:
n = 3 # number of records to drop
df2 = df.iloc[n:,:]
df2.reset_index(drop=True, inplace=True)
df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
1,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392
2,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
3,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",UNIT,Appalachia Southern,1440115,183,474784
4,2013,103246,Bear Creek,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",,Appalachia Southern,87587,13,29193

In [11]:
# Setting up the new header for df2
new_header = df2.iloc[0] # grab a new header.
df2 = df2[1:] # take the data less the header.
df2.columns = new_header # set the new header as data header.
df2.reset_index(drop=True, inplace=True)
df2.head()

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
2,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",UNIT,Appalachia Southern,1440115,183,474784
3,2013,103246,Bear Creek,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",,Appalachia Southern,87587,13,29193
4,2013,103451,Knight Mine,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",,Appalachia Southern,147499,27,46393

In [12]:
df2.dtypes

0
Year                         object
MSHA ID                      object
Mine Name                    object
Mine State                   object
Mine County                  object
Mine Status                  object
Mine Type                    object
Company Type                 object
Operation Type               object
Operating Company            object
Operating Company Address    object
Union Code                   object
Coal Supply Region           object
Production (short tons)      object
Average Employees            object
Labor Hours                  object
dtype: object

In [14]:
surface_mines = df2[df2['Mine Type'] == 'Surface']
surface_mines.head()

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
3,2013,103246,Bear Creek,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",,Appalachia Southern,87587,13,29193
4,2013,103451,Knight Mine,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",,Appalachia Southern,147499,27,46393
5,2013,103433,Crane Central Mine,Alabama,Jackson,Temporarily closed,Surface,Indepedent Producer Operator,Mine only,Alabama Carbon Llc,"5957 Windswept Blvd, Wise, VA 24293",,Appalachia Southern,69339,27,47195

In [18]:
surface_active = df2[(df2['Mine Status'] == 'Active') & (df2['Mine Type'] == 'Surface')]
surface_active.head()

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
3,2013,103246,Bear Creek,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",,Appalachia Southern,87587,13,29193
4,2013,103451,Knight Mine,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",,Appalachia Southern,147499,27,46393
8,2013,102901,Shoal Creek Mine,Alabama,Jefferson,Active,Surface,Indepedent Producer Operator,Mine and Preparation Plant,Drummond Company Inc,"P.O. Box 1549, Jasper, AL 35501",United Mine Workers of America,Appalachia Southern,0,5,12396
10,2013,103180,Sloan Mountain Mine,Alabama,Jefferson,Active,Surface,Indepedent Producer Operator,Mine only,"M S & R Equipment Company, Inc","2600 Warrior Jasper Road, Warrior, AL 35180",,Appalachia Southern,327780,84,196963
11,2013,103182,Fishtrap,Alabama,Jefferson,Active,Surface,Operating Subsidiary,Mine only,C&h Mining,"3699 Industrial Parkway, Jasper, AL 35501",,Appalachia Southern,175058,30,87314

In [27]:
surface_active.shape[0]  # .shape offers (columns, rows) information. You can filter them.

608

In [30]:
surface_active_employees = df2[(df2['Mine Status'] == 'Active') & (df2['Mine Type'] == 'Surface') & (df2['Average Employees'] >= 50)]
surface_active_employees.shape[0]

114

In [31]:
filtered_subsidary = surface_active_employees[surface_active_employees['Company Type'].str.contains('Subsidiary', case=False, na=False)]
filtered_subsidary.head()

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
34,2013,102996,Jap Creek Mine,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,Reed Minerals Inc,"3699 Industrial Pkwy, Jasper, AL 35501",,Appalachia Southern,375715,61,164093
41,2013,103376,Town Creek,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,Reed Minerals Inc,"3699 Industrial Parkway, Jasper, AL 35501",,Appalachia Southern,299167,60,176499
43,2013,103410,Coal Valley Mine,Alabama,Walker,Active,Surface,Operating Subsidiary,Mine only,"Xinergy Of Alabama, Inc.","2600 Warrior Jasper Rd, Warrior, AL 35180",,Appalachia Southern,407841,59,158591
49,2013,201195,Kayenta Mine,Arizona,Navajo,Active,Surface,Operating Subsidiary,Mine and Preparation Plant,Peabody Western Coal Company,"P.O. Box 650, Kayenta, AZ 86033",United Mine Workers of America,Western,7602722,405,1015333
58,2013,502962,Colowyo Mine,Colorado,Moffat,Active,Surface,Operating Subsidiary,Mine and Preparation Plant,Colowyo Coal Company L P,"5731 State Highway 13, Meeker, CO 81641",,Uinta Region,2309118,243,485411