In [1]:
# Install duckdb
! pip install duckdb

Requirement already satisfied: duckdb in /home/ravik/src_git/LP/env/lib64/python3.12/site-packages (1.0.0)

In [2]:
import duckdb

# Create a connection to an in-memory database
conn = duckdb.connect(database=':memory:')

In [3]:
# Create a table
conn.execute("""
CREATE TABLE students (
             roll_num INTEGER,
             name VARCHAR,
             sub1 INTEGER,
             sub2 INTEGER,
             sub3 INTEGER,
             sub4 INTEGER
)
""")
print('Table created successfully.')

Table created successfully.

In [4]:
# Inserting data into the table
conn.execute("""
INSERT INTO students VALUES
             (1, 'student1', 85, 80, 90, 92),
             (2, 'student2', 99, 89, 78, 90),
             (3, 'student3', 99, 89, 87, 79),
             (4, 'student4', 89, 98, 98, 89)
""")
print('Data inserted successfully.')

Data inserted successfully.

In [7]:
# Querying the data
result = conn.execute("SELECT * FROM students").fetchall()
result

[(1, 'student1', 85, 80, 90, 92),
 (2, 'student2', 99, 89, 78, 90),
 (3, 'student3', 99, 89, 87, 79),
 (4, 'student4', 89, 98, 98, 89)]

In [8]:
for row in result:
    print(row)

(1, 'student1', 85, 80, 90, 92)
(2, 'student2', 99, 89, 78, 90)
(3, 'student3', 99, 89, 87, 79)
(4, 'student4', 89, 98, 98, 89)

In [10]:
# Calculate the average score for a student
average_result = conn.execute("""
SELECT name, (sub1 + sub2 + sub3 + sub4) / 4.0 AS average_score
                              FROM students
""").fetchall()
print("Average Scores:")
for row in average_result:
    print(f'{row[0]}: {row[1]:2f}')

Average Scores:
student1: 86.750000
student2: 89.000000
student3: 88.500000
student4: 93.500000