In [2]:
import pandas as pd
students_classes = {'Alice':'Physics',
           'Jack': 'Chemistry',
           'Molly': 'English',
           'Sam': 'History'}

s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [3]:
s.iloc[3]

'History'

In [4]:
s.loc['Molly']

'English'

In [5]:
s[3]

'History'

In [6]:
s['Molly']

'English'

In [7]:
class_code = {99: 'Physics',
             100: 'Chemistry',
             101: 'English',
             102: 'History'}

s = pd.Series(class_code)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [9]:
# s[0] will give key error.
s.iloc[0]

'Physics'

In [10]:
# Slow approach using python programming
grades = pd.Series([90, 80, 70, 60])
total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [12]:
import numpy as np

total = np.sum(grades)
print(total/len(grades))

75.0

In [14]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    869
1    352
2    712
3     27
4    465
dtype: int32

In [15]:
len(numbers)

10000

In [18]:
%%timeit -n 1000
total = 0
for number in numbers:
    total+=number
total/len(numbers)

1.8 ms ± 234 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [19]:
%%timeit -n 1000
total = np.sum(numbers)
total/len(numbers)

53.8 µs ± 7.14 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [20]:
numbers.head()

0    869
1    352
2    712
3     27
4    465
dtype: int32

In [21]:
numbers+=2
numbers.head()

0    871
1    354
2    714
3     29
4    467
dtype: int32

In [22]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
for label, value in s.iteritems():
    s.loc[label]=value+2

37.4 ms ± 2.96 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [23]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
s+=2

228 µs ± 53.5 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [24]:
s = pd.Series([1, 2, 3])
s.loc['History'] = 102

In [25]:
s

0            1
1            2
2            3
History    102
dtype: int64

In [29]:
students_classes = {'Alice':'Physics',
           'Jack': 'Chemistry',
           'Molly': 'English',
           'Sam': 'History'}
student_classes = pd.Series(students_classes)
student_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
kelly_classes =