From the page https://www.w3schools.com/python/python_regex.asp

In [2]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)  # search if the string starts with The and ends with Spain.

In [3]:
x

In [8]:
# example.
import re
txt = 'The purpose of our lives is to be happy.'
x = re.search("^The purpose.*happy.$", txt)
x

In [10]:
# example
import re
txt = 'You only live once, but if you do it right, once is enough.'
x = re.search("^You.*but*.*right*,.*enough.$", txt)
x

In [26]:
# example
import re
txt = 'The big lesson in life, baby, is never be scared of anyone or anything - Frank Sinatra'
x = re.search("^The.*baby*.* - *.*Sinatra$", txt)
x

### Metacharacters

In [27]:
# Find all lower case characters alphabetically between "a" and "m":
import re
txt = "The rain in Spain"
x = re.findall("[a-m]", txt)
x

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [29]:
# Testing a panagram
import re
txt = "The quick brown fox jumps over the lazy dog"
x = re.findall("[a-z]", txt)
len(x)

34

In [33]:
# This is a special sequence. Will be covered later.
import re
txt = "The quick brown fox jumps over the lazy dog"
x = re.findall("[\w]", txt)
len(set(x))

27

In [34]:
# \
# Signals a special sequence (can also be used to escape special characters)
# #Find all digit characters:
import re
txt = "That will be 59 dollars"
x = re.findall("\d", txt)
x

['5', '9']

In [35]:
# example
import re
txt = "There are 2 numbers in this. 100 is a multiple of 10."
x = re.findall("\d", txt)
x

['2', '1', '0', '0', '1', '0']

In [38]:
# .
# Any character (except newline character)
import re
txt = "antikythera"
x = re.findall("an........a", txt)
x

['antikythera']

In [41]:
# ^
# Starts with
import re
txt = "hello planet"
x = re.findall("^hello", txt)
x

['hello']

In [46]:
# Writing a loop on the returned result.
import re
txt = "hello planet"
x = re.findall("^hello", txt)
if x:
    print("String found!")
else:
    print("nada.")

String found!

In [47]:
# $
# Ends with
import re
txt = "hello planet"
x = re.findall("planet$", txt)
x

['planet']

In [50]:
# Writing a loop on it.
import re
txt = "hello planet"
x = re.findall('planet$', txt)
if x:
    print("Found")
else:
    print("nada")

Found

In [52]:
# *
# Zero or more occurrences
import re
txt = "antikythera"
x = re.findall("a.*a", txt)
x

['antikythera']

In [53]:
# one more test
import re
txt = "fab"
x = re.findall("fa.*b", txt)  # satisfying 0 or more occurences.
x

['fab']

In [54]:
# +
# One or more occurrences
import re
txt = "antikythera"
x = re.findall("a.+a", txt)
x

['antikythera']

In [57]:
# Trying to fail the above condition.
import re
txt = "fab"
x = re.findall("fa.+b", txt)  # atleast 1 result wont be found in this condition.
x

[]

In [58]:
# ?
# Zero or one occurrences
import re
txt = "hello"
x = re.findall("hel.?o", txt)  # reply will be only given if 
x

['hello']

In [60]:
# {}
# Exactly the specified number of occurrences
import re
txt = "hello"
x = re.findall("he.{2}o", txt)
x

['hello']

In [61]:
# one more example
import re
txt = "antikythera"
x = re.findall("anti.{6}a", txt)
x

['antikythera']

In [62]:
# |
# Either or
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)
x

['falls']

In [64]:
# passing multiple search strings.
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stops|plain", txt)  # returns all results.
x

['falls', 'plain']

In [76]:
# observed difference between search and findall
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.search("falls|stops|plain", txt)  # returns only the first result as object
x