In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

## Introduction to pandas Data Structures

### Series

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.values

array([ 4,  7, -5,  3])

In [5]:
obj.items

<bound method Series.items of 0    4
1    7
2   -5
3    3
dtype: int64>

In [6]:
obj.keys

<bound method Series.keys of 0    4
1    7
2   -5
3    3
dtype: int64>

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# manual index
obj2 = pd.Series([4, 7, -5, 2], index=['d', 'b', 'a', 'c'])

In [9]:
obj2

d    4
b    7
a   -5
c    2
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [11]:
obj2['a']

-5

In [12]:
obj2['d'] = 6

In [13]:
obj2

d    6
b    7
a   -5
c    2
dtype: int64

In [14]:
obj2[['c', 'a', 'd']]

c    2
a   -5
d    6
dtype: int64

In [15]:
obj2[obj2 > 0]

d    6
b    7
c    2
dtype: int64

In [16]:
import numpy as np
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c       7.389056
dtype: float64

In [17]:
'b' in obj2

True

In [18]:
'e' in obj2

False

In [28]:
# small tutorial of getting data from api and seeing with pandas
import requests
import numpy as np
import pandas as pd
import json
response = requests.get("http://universities.hipolabs.com/search?country=United+States")
#print(response)
data = response.json()
df = pd.DataFrame(data)
df

,state-province,country,web_pages,name,alpha_two_code,domains
0,None,United States,[http://www.marywood.edu],Marywood University,US,[marywood.edu]
1,None,United States,[http://www.lindenwood.edu/],Lindenwood University,US,[lindenwood.edu]
2,None,United States,[https://sullivan.edu/],Sullivan University,US,[sullivan.edu]
3,None,United States,[https://www.fscj.edu/],Florida State College at Jacksonville,US,[fscj.edu]
4,None,United States,[https://www.xavier.edu/],Xavier University,US,[xavier.edu]
...,...,...,...,...,...,...
4341,Florida,United States,[https://www.gulfcoast.edu/],Gulf Coast State College,US,[gulfcoast.edu]
4342,California,United States,[https://www.academyart.edu/],Academy of Art University,US,"[academyart.edu, art.edu]"
4343,North Carolina,United States,[https://www.lr.edu/],Lenoir-Rhyne University,US,[lr.edu]
4344,Pennsylvania,United States,[https://pointpark.edu/],Point Park University,US,[pointpark.edu]
4345,Michigan,United States,[https://northwood.edu/],Northwood University,US,[northwood.edu]