From the page https://www.w3schools.com/python/python_regex.asp

In [2]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)  # search if the string starts with The and ends with Spain.

In [3]:
x

In [8]:
# example.
import re
txt = 'The purpose of our lives is to be happy.'
x = re.search("^The purpose.*happy.$", txt)
x

In [10]:
# example
import re
txt = 'You only live once, but if you do it right, once is enough.'
x = re.search("^You.*but*.*right*,.*enough.$", txt)
x

In [26]:
# example
import re
txt = 'The big lesson in life, baby, is never be scared of anyone or anything - Frank Sinatra'
x = re.search("^The.*baby*.* - *.*Sinatra$", txt)
x

### Metacharacters

In [27]:
# Find all lower case characters alphabetically between "a" and "m":
import re
txt = "The rain in Spain"
x = re.findall("[a-m]", txt)
x

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [29]:
# Testing a panagram
import re
txt = "The quick brown fox jumps over the lazy dog"
x = re.findall("[a-z]", txt)
len(x)

34

In [33]:
# This is a special sequence. Will be covered later.
import re
txt = "The quick brown fox jumps over the lazy dog"
x = re.findall("[\w]", txt)
len(set(x))

27

In [34]:
# \
# Signals a special sequence (can also be used to escape special characters)
# #Find all digit characters:
import re
txt = "That will be 59 dollars"
x = re.findall("\d", txt)
x

['5', '9']

In [35]:
# example
import re
txt = "There are 2 numbers in this. 100 is a multiple of 10."
x = re.findall("\d", txt)
x

['2', '1', '0', '0', '1', '0']

In [38]:
# .
# Any character (except newline character)
import re
txt = "antikythera"
x = re.findall("an........a", txt)
x

['antikythera']

In [41]:
# ^
# Starts with
import re
txt = "hello planet"
x = re.findall("^hello", txt)
x

['hello']

In [46]:
# Writing a loop on the returned result.
import re
txt = "hello planet"
x = re.findall("^hello", txt)
if x:
    print("String found!")
else:
    print("nada.")

String found!

In [47]:
# $
# Ends with
import re
txt = "hello planet"
x = re.findall("planet$", txt)
x

['planet']

In [50]:
# Writing a loop on it.
import re
txt = "hello planet"
x = re.findall('planet$', txt)
if x:
    print("Found")
else:
    print("nada")

Found

In [52]:
# *
# Zero or more occurrences
import re
txt = "antikythera"
x = re.findall("a.*a", txt)
x

['antikythera']

In [53]:
# one more test
import re
txt = "fab"
x = re.findall("fa.*b", txt)  # satisfying 0 or more occurences.
x

['fab']

In [54]:
# +
# One or more occurrences
import re
txt = "antikythera"
x = re.findall("a.+a", txt)
x

['antikythera']

In [57]:
# Trying to fail the above condition.
import re
txt = "fab"
x = re.findall("fa.+b", txt)  # atleast 1 result wont be found in this condition.
x

[]

In [58]:
# ?
# Zero or one occurrences
import re
txt = "hello"
x = re.findall("hel.?o", txt)  # reply will be only given if 
x

['hello']

In [60]:
# {}
# Exactly the specified number of occurrences
import re
txt = "hello"
x = re.findall("he.{2}o", txt)
x

['hello']

In [61]:
# one more example
import re
txt = "antikythera"
x = re.findall("anti.{6}a", txt)
x

['antikythera']

In [62]:
# |
# Either or
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)
x

['falls']

In [64]:
# passing multiple search strings.
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stops|plain", txt)  # returns all results.
x

['falls', 'plain']

In [76]:
# observed difference between search and findall
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.search("falls|stops|plain", txt)  # returns only the first result as object
x

### Special Sequences

In [1]:
# \A
# Returns a match if the specified characters are at the beginning of the string
import re
txt = "The rain in Spain"
x = re.findall("\AThe", txt)
bool(x)

True

In [3]:
# one more example
import re
txt = 'antikythera'
x = re.findall('\Aanta', txt)
bool(x)

False

\b

Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [8]:
import re
txt = "The rain in Spain"
x = re.findall(r"\bain", txt)  # checking the beginning of the word.
x

[]

In [9]:
import re
txt = "The rain in Spain"
x = re.findall(r"ain\b", txt)
x

['ain', 'ain']

\B

Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [15]:
import re
txt = "The rain in Spain"
x = re.findall(r"\Bain", txt)
x

['ain', 'ain']

In [16]:
# One more example for testing
import re
txt = "The rain in Spain"
x = re.findall(r"ai\B", txt)
x

['ai', 'ai']

\d
Returns a match where the string contains digits (numbers from 0-9)

In [25]:
import re
txt = "There are 2 numbers in the text. 100 nd 200."
x = re.findall("\d", txt)
x

['2', '1', '0', '0', '2', '0', '0']

\D
Returns a match where the string DOES NOT contain digits

In [31]:
import re
txt = "There are 2 numbers in the text. 100 nd 200."
x = re.findall("\D", txt)
len(x)

37

\s
Returns a match where the string contains a white space character

In [32]:
import re
txt = "The rain in Spain."
x = re.findall("\s", txt)
x

[' ', ' ', ' ']

\S
Returns a match where the string DOES NOT contain a white space character

In [33]:
import re
txt = "The rain in Spain"
x = re.findall("\S", txt)
x

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

\w
Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)

In [34]:
import re
txt = "The rain in Spain"
x = re.findall("\w", txt)
x

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

\W
Returns a match where the string DOES NOT contain any word characters

In [36]:
import re
txt = "Thisistofindthethiefâð&ö"
x = re.findall("\W", txt)
x

['&']

\Z
Returns a match if the specified characters are at the end of the string

In [38]:
import re
txt = "The rain in Spain."
x = re.findall("Spain.\Z", txt)
x

['Spain.']

### Sets

[arn]
Returns a match where one of the specified characters (a, r, or n) are present

In [40]:
import re
txt = "The rain in Spain."
x = re.findall("[arn]", txt)
x

['r', 'a', 'n', 'n', 'a', 'n']

In [42]:
import re
txt = "antikythera"
x = re.findall("[a-g]", txt)
x

['a', 'e', 'a']

[^arn]
Returns a match for any character EXCEPT a, r, and n

In [44]:
import re
txt = "The rain in Spain"
x = re.findall("[^arn]", txt)
x

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']

[0123]
Returns a match where any of the specified digits (0, 1, 2, or 3) are present

In [45]:
import re
txt = "The number is 007. Its never 999"
x = re.findall("[007]", txt)
x

['0', '0', '7']

[0-9]
Returns a match for any digit between 0 and 9

In [46]:
import re
txt = "The number is 007. Its never 999"
x = re.findall("[0-7]", txt)
x

['0', '0', '7']

[0-5][0-9]
This is a bit flaky
Returns a match for any two-digit numbers from 00 and 59

In [62]:
import re
txt = "my number is 59"
x = re.findall("[0-6][0-0]", txt)
x

[]

[a-zA-Z]
Returns a match for any character alphabetically between a and z, lower case OR upper case

In [63]:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[a-zA-Z]", txt)
x

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']

[+]
In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [65]:
import re
txt = "8 times before 11:45 AM+"
x = re.findall("[+]", txt)
x

['+']

## Exploring functions

#### The findall() function

In [68]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
x

['ai', 'ai']

#### The search() function

In [77]:
import re
txt = "The rain in Spain"
x = re.search("\s", txt)
x.start()  # returns the first white space character position.

3

#### the split() function

In [73]:
import re
txt = "The rain in Spain"
x = re.split("\s", txt)
x

['The', 'rain', 'in', 'Spain']

In [74]:
import re
txt = "The rain in Spain"
x = re.split("\s", txt, 1)  # Split the string only at the first occurence.
x

['The', 'rain in Spain']

In [75]:
import re
txt = "The rain in Spain"
x = re.split("\s", txt, maxsplit=2)  # Controlling the number of occurences with maxsplit param.
x

['The', 'rain', 'in Spain']

#### The sub() function

In [78]:
# to replace
import re
txt = "The rain in Spain"
x = re.sub("\s", '9', txt)
x

'The9rain9in9Spain'

In [79]:
import re
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, count=2)  # for specifying number of occurences
x

'The9rain9in Spain'

#### Match Object

In [81]:
import re
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)  # This will print an object

<re.Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result:

.span() returns a tuple containing the start-, and end positions of the match.
.string returns the string passed into the function
.group() returns the part of the string where there was a match

In [90]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
x.span()

(12, 17)

In [92]:
import re
# gets only the first occurence.
txt = "The rain in Spain and in Sweden"
x = re.search(r"\bS\w+", txt)
x

In [93]:
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
x.string  # prints the string passed into it.

'The rain in Spain'

In [96]:
import re

txt = "The rain in Spain"
#txt = "The rain in Spain and in Sweden"
x = re.search(r"\bS\w+", txt)

x.group()

'Spain'

## Practice

In [97]:
import re
text = "Amy works diligently. Amy gets good grades. Our student Amy is succesful."
x = re.findall("^Amy", text)
x

['Amy']

In [98]:
x = re.search("^Amy", text)
x