In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('instance/finance.db')
c = conn.cursor()

In [3]:
# Insert new income
c.execute("INSERT INTO income (amount, category) VALUES (?, ?)", (1000.0, 'Salary'))
conn.commit()

# Insert new expense
c.execute("INSERT INTO expense (amount, category) VALUES (?, ?)", (200.0, 'Groceries'))
conn.commit()

conn.close()

In [5]:
conn = sqlite3.connect('instance/finance.db')
c = conn.cursor()

In [6]:
# Fetch all income records
c.execute("SELECT * FROM income")
incomes = c.fetchall()

# Fetch all expense records
c.execute("SELECT * FROM expense")
expenses = c.fetchall()

# Fetch a specific income by ID
c.execute("SELECT * FROM income WHERE id = ?", (1,))
income = c.fetchone()

print(incomes, expenses, income)

conn.close()

[(1, 1000.0, 'Salary')] [(1, 200.0, 'Groceries')] (1, 1000.0, 'Salary')

In [7]:
conn = sqlite3.connect('instance/finance.db')
c = conn.cursor()

# Update a specific income record
c.execute("UPDATE income SET amount = ? WHERE id = ?", (1200.0, 1))
conn.commit()

# Update a specific expense record
c.execute("UPDATE expense SET category = ? WHERE id = ?", ('Utilities', 2))
conn.commit()

conn.close()

In [8]:
conn = sqlite3.connect('instance/finance.db')
c = conn.cursor()

# Delete a specific income record
c.execute("DELETE FROM income WHERE id = ?", (1,))
conn.commit()

# Delete a specific expense record
c.execute("DELETE FROM expense WHERE id = ?", (2,))
conn.commit()

conn.close()