In [2]:
from faker import Faker
import json

# Initialize Faker object
fake = Faker()

# Generate fake data
data = []
for _ in range(100):  # Generate 100 rows of data
    row = {
        'name': fake.name(),
        'email': fake.email(),
        'address': fake.address(),
        'phone_number': fake.phone_number(),
        'job': fake.job(),
        'company': fake.company(),
        'credit_card_number': fake.credit_card_number(),
        'birthdate': fake.date_of_birth().strftime('%Y-%m-%d')
    }
    data.append(row)

# Write data to JSON file
with open('fake_data.json', 'w') as f:
    json.dump(data, f, indent=4)

print("JSON file created successfully.")

JSON file created successfully.

In [3]:
import pandas as pd

# Read JSON file into pandas DataFrame
df = pd.read_json('fake_data.json')

# Perform data analysis using pandas
print(df.head())  # Display the first few rows of the DataFrame
print(df.describe())  # Summary statistics
# Perform other analysis as needed

              name                       email  \
0    Veronica West     gravesjesus@example.org
1  Glenn Hernandez  nicolecastillo@example.org
2     Brent Henson       wardjamie@example.net
3  Christina Smith     mannrichard@example.com
4      Thomas Lynn    connernicole@example.com

                                             address            phone_number  \
0       421 Shawn Island\nNew Kimberlyland, KY 53487            344.683.8234
1  97531 Michael Ferry Suite 132\nLake Tonyamouth...              2085019154
2  1497 Jeffrey Drives Suite 825\nNew Crystalfort...   +1-726-768-0479x68541
3         8712 Solomon Brooks\nPort Pamela, MN 44761        918.201.1057x282
4     3400 Alexis Mountain\nSouth Victoria, NE 19547  001-752-744-7430x30124

                                  job             company  credit_card_number  \
0  Tourist information centre manager           Meyer PLC     180095672553148
1                 Electrical engineer  Ferguson-Carpenter    3506097723358866
2              Psychologist, forensic          Phelps LLC      30293402763945
3            Engineer, communications     Aguilar-Jenkins      30077588227134
4               Management consultant    Hawkins and Sons    2274025989476603

    birthdate
0  1928-09-14
1  1949-08-06
2  1920-01-26
3  1957-03-13
4  1942-04-17
       credit_card_number
count        1.000000e+02
mean         2.303039e+17
std          1.000052e+18
min          6.047802e+10
25%          2.048523e+14
50%          3.518623e+15
75%          4.670004e+15
max          4.926117e+18

In [8]:
df.shape

(100, 8)

In [10]:
df.info

<bound method DataFrame.info of                name                       email  \
0     Veronica West     gravesjesus@example.org
1   Glenn Hernandez  nicolecastillo@example.org
2      Brent Henson       wardjamie@example.net
3   Christina Smith     mannrichard@example.com
4       Thomas Lynn    connernicole@example.com
..              ...                         ...
95     Brian Wilson    tammymendoza@example.com
96   Patricia Rivas       meganpham@example.net
97   Samantha Smith       sabrina28@example.net
98     Ryan Buckley   millerdeborah@example.org
99    Sherri Nguyen          ybryan@example.com

                                              address            phone_number  \
0        421 Shawn Island\nNew Kimberlyland, KY 53487            344.683.8234
1   97531 Michael Ferry Suite 132\nLake Tonyamouth...              2085019154
2   1497 Jeffrey Drives Suite 825\nNew Crystalfort...   +1-726-768-0479x68541
3          8712 Solomon Brooks\nPort Pamela, MN 44761        918.201.1057x282
4      3400 Alexis Mountain\nSouth Victoria, NE 19547  001-752-744-7430x30124
..                                                ...                     ...
95                   Unit 5609 Box 0941\nDPO AA 50778   001-789-453-0736x6584
96           77700 Gordon Center\nAmbertown, WI 36503  001-208-648-0056x87296
97     983 Harris Locks Apt. 427\nEvanstown, WI 46357        200.936.3013x244
98  23009 Oconnell Locks Suite 208\nEast Tina, ID ...        001-694-587-9391
99                          USNS Harris\nFPO AP 49647      597-760-5452x90191

                                             job                    company  \
0             Tourist information centre manager                  Meyer PLC
1                            Electrical engineer         Ferguson-Carpenter
2                         Psychologist, forensic                 Phelps LLC
3                       Engineer, communications            Aguilar-Jenkins
4                          Management consultant           Hawkins and Sons
..                                           ...                        ...
95                           Colour technologist                Shannon PLC
96  Lighting technician, broadcasting/film/video  Goodwin, Garcia and Smith
97                      Museum education officer               Sharp-Martin
98                                     Homeopath               Hudson Group
99         English as a foreign language teacher                Johnson Ltd

    credit_card_number   birthdate
0      180095672553148  1928-09-14
1     3506097723358866  1949-08-06
2       30293402763945  1920-01-26
3       30077588227134  1957-03-13
4     2274025989476603  1942-04-17
..                 ...         ...
95      30379661855215  1979-01-27
96         60478018769  1932-12-09
97     340484552284270  1991-12-08
98    6511130872636372  2011-07-31
99    3539224400349080  2003-11-07

[100 rows x 8 columns]>

In [12]:
df.isnull().sum()

name                  0
email                 0
address               0
phone_number          0
job                   0
company               0
credit_card_number    0
birthdate             0
dtype: int64