In [17]:
from faker import Faker
import json

# Initialize Faker object
fake = Faker()

# Generate fake data
data = []
for _ in range(100):  # Generate 100 rows of data
    row = {
        'name': fake.name(),
        'email': fake.email(),
        'address': fake.address(),
        'phone_number': fake.phone_number(),
        'job': fake.job(),
        'company': fake.company(),
        'credit_card_number': fake.credit_card_number(),
        'birthdate': fake.date_of_birth().strftime('%Y-%m-%d')
    }
    data.append(row)

# Write data to JSON file
with open('fake_data.json', 'w') as f:
    json.dump(data, f, indent=4)

print("JSON file created successfully.")

JSON file created successfully.

In [18]:
import pandas as pd

# Read JSON file into pandas DataFrame
df = pd.read_json('fake_data.json')

# Perform data analysis using pandas
print(df.head())  # Display the first few rows of the DataFrame
print(df.describe())  # Summary statistics
# Perform other analysis as needed

                name                         email  \
0  Jessica Gillespie          taylor16@example.com
1      Tommy Spencer           lacey71@example.com
2    Frances Perkins         matthew14@example.org
3      Brandon Dixon  gutierrezshannon@example.org
4        Brian Foley        hillrobert@example.org

                                             address            phone_number  \
0  05073 Jacob Road Suite 731\nSouth Wendy, ID 22578  001-285-562-1173x24763
1                           USS Vaughn\nFPO AA 14375     +1-521-297-4919x056
2  70153 Courtney Junction Apt. 677\nJohnfort, MP...      (303)509-6435x0649
3            27593 Daniel Cove\nHodgesberg, DE 08208            450.489.3194
4  5138 Washington Road Suite 879\nJasontown, DE ...     (320)972-1405x54925

                           job                        company  \
0             Location manager                   Barton-Jones
1       Special effects artist                      Kidd-Reid
2  Civil Service fast streamer  Ramirez, Malone and Wilkinson
3   Geophysical data processor      Wilson, Smith and Estrada
4                    Osteopath                  White-Houston

   credit_card_number   birthdate
0    6011529701466494  1928-07-08
1     180095669126130  2016-09-02
2    4350802146135899  1959-06-09
3    4533154653285075  1977-08-08
4        676396526953  1939-10-10
       credit_card_number
count        1.000000e+02
mean         4.038050e+17
std          1.286645e+18
min          5.018331e+11
25%          3.516209e+13
50%          3.116618e+15
75%          4.768989e+15
max          4.996793e+18

In [19]:
df.shape

(100, 8)

In [20]:
df.info

<bound method DataFrame.info of                  name                         email  \
0   Jessica Gillespie          taylor16@example.com
1       Tommy Spencer           lacey71@example.com
2     Frances Perkins         matthew14@example.org
3       Brandon Dixon  gutierrezshannon@example.org
4         Brian Foley        hillrobert@example.org
..                ...                           ...
95        Daniel Dean  williamnicholson@example.org
96        Katie Miles           linda11@example.net
97    Michelle Brooks        avilakatie@example.org
98   Christopher Lamb    carlosmorrison@example.net
99     Lauren Camacho        bhernandez@example.net

                                              address            phone_number  \
0   05073 Jacob Road Suite 731\nSouth Wendy, ID 22578  001-285-562-1173x24763
1                            USS Vaughn\nFPO AA 14375     +1-521-297-4919x056
2   70153 Courtney Junction Apt. 677\nJohnfort, MP...      (303)509-6435x0649
3             27593 Daniel Cove\nHodgesberg, DE 08208            450.489.3194
4   5138 Washington Road Suite 879\nJasontown, DE ...     (320)972-1405x54925
..                                                ...                     ...
95      909 Sara Mill Apt. 020\nSerranostad, WV 77635       (956)587-7002x990
96       49216 Christopher Trail\nPaigeberg, NH 73325            791-326-8560
97           028 Burns Glen\nSouth Jillberg, CT 60987           (765)973-0917
98           2397 Ross Plaza\nSouth Anthony, NH 39363  001-809-268-9872x11953
99                701 Alex Fort\nPort Emily, KY 59453      704.488.8388x18401

                            job                        company  \
0              Location manager                   Barton-Jones
1        Special effects artist                      Kidd-Reid
2   Civil Service fast streamer  Ramirez, Malone and Wilkinson
3    Geophysical data processor      Wilson, Smith and Estrada
4                     Osteopath                  White-Houston
..                          ...                            ...
95              Quality manager     Williams, Henson and Reyes
96                IT consultant                 Smith and Sons
97              Hospital doctor     Hunt, Mcintosh and Freeman
98                Art therapist    Mcdaniel, Hobbs and Meadows
99            Company secretary                       West LLC

     credit_card_number   birthdate
0      6011529701466494  1928-07-08
1       180095669126130  2016-09-02
2      4350802146135899  1959-06-09
3      4533154653285075  1977-08-08
4          676396526953  1939-10-10
..                  ...         ...
95     6584722677959850  1974-01-05
96     4499177137700924  1988-08-22
97      213155517912916  1972-07-29
98     6578861963503564  1985-12-03
99  4002066999772616192  1927-01-13

[100 rows x 8 columns]>

In [21]:
df.isnull().sum()

name                  0
email                 0
address               0
phone_number          0
job                   0
company               0
credit_card_number    0
birthdate             0
dtype: int64

In [22]:
# Statistical analysis
summary_stats = df.describe()
print(summary_stats)

       credit_card_number
count        1.000000e+02
mean         4.038050e+17
std          1.286645e+18
min          5.018331e+11
25%          3.516209e+13
50%          3.116618e+15
75%          4.768989e+15
max          4.996793e+18

In [25]:
# Grouped stats
grouped_stats = df.groupby('job').describe()
print(grouped_stats)

                                   credit_card_number                \
                                                count          mean
job
Accommodation manager                             1.0  4.261941e+15
Aid worker                                        1.0  3.577471e+15
Art therapist                                     1.0  6.578862e+15
Arts development officer                          1.0  3.787773e+14
Bonds trader                                      1.0  3.555456e+15
...                                               ...           ...
Surveyor, mining                                  1.0  3.512649e+15
Surveyor, planning and development                2.0  3.285325e+15
Teacher, primary school                           1.0  3.015923e+13
Therapist, art                                    1.0  2.250079e+15
Town planner                                      1.0  1.800391e+14

                                                                              \
                                             std           min           25%
job
Accommodation manager                        NaN  4.261941e+15  4.261941e+15
Aid worker                                   NaN  3.577471e+15  3.577471e+15
Art therapist                                NaN  6.578862e+15  6.578862e+15
Arts development officer                     NaN  3.787773e+14  3.787773e+14
Bonds trader                                 NaN  3.555456e+15  3.555456e+15
...                                          ...           ...           ...
Surveyor, mining                             NaN  3.512649e+15  3.512649e+15
Surveyor, planning and development  4.645195e+15  6.761645e+11  1.643001e+15
Teacher, primary school                      NaN  3.015923e+13  3.015923e+13
Therapist, art                               NaN  2.250079e+15  2.250079e+15
Town planner                                 NaN  1.800391e+14  1.800391e+14


                                             50%           75%           max
job
Accommodation manager               4.261941e+15  4.261941e+15  4.261941e+15
Aid worker                          3.577471e+15  3.577471e+15  3.577471e+15
Art therapist                       6.578862e+15  6.578862e+15  6.578862e+15
Arts development officer            3.787773e+14  3.787773e+14  3.787773e+14
Bonds trader                        3.555456e+15  3.555456e+15  3.555456e+15
...                                          ...           ...           ...
Surveyor, mining                    3.512649e+15  3.512649e+15  3.512649e+15
Surveyor, planning and development  3.285325e+15  4.927649e+15  6.569974e+15
Teacher, primary school             3.015923e+13  3.015923e+13  3.015923e+13
Therapist, art                      2.250079e+15  2.250079e+15  2.250079e+15
Town planner                        1.800391e+14  1.800391e+14  1.800391e+14

[92 rows x 8 columns]

In [30]:
# Correlation analysis
correlation_analysis = df.corr['credit_card_number']
print(correlation_analysis)

TypeError: 'method' object is not subscriptable