In [12]:
import pandas as pd
import openpyxl

In [13]:
# Load the uploaded Excel file
file_path = '/home/ravik/src_git/LP/projects/oc/sch.xlsx'
df = pd.read_excel(file_path)

# Convert DATE column to datetime format if it's not already
df['DATE'] = pd.to_datetime(df['DATE'])

# Function to filter the DataFrame by date range and convert to dictionary
def filter_and_convert_to_dict(df, start_date, end_date):
    # Convert the input dates to datetime format
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    
    # Filter the DataFrame by the date range
    filtered_df = df[(df['DATE'] >= start_date) & (df['DATE'] <= end_date)]
    
    # Convert the filtered DataFrame to the desired dictionary format
    result_dict = {}
    for index, row in filtered_df.iterrows():
        date_str = row['DATE'].strftime('%Y%m%d')
        result_dict[date_str] = [
            {'O1': row['O1']},
            {'O2': row['O2']},
            {'O3': row['O3']},
            {'D1': row['D1']},
            {'D2': row['D2']}
        ]
    return result_dict

# Example usage
start_date = '06/12/2024'
end_date = '06/30/2024'
filtered_dict = filter_and_convert_to_dict(df, start_date, end_date)

In [14]:
filtered_dict

{'20240612': [{'O1': 'string1'},
  {'O2': 'string1'},
  {'O3': 'string1'},
  {'D1': 'dstring1'},
  {'D2': 'dstring1'}],
 '20240613': [{'O1': 'string2'},
  {'O2': 'string2'},
  {'O3': 'string2'},
  {'D1': 'dstring2'},
  {'D2': 'dstring2'}],
 '20240614': [{'O1': 'string3'},
  {'O2': 'string3'},
  {'O3': 'string3'},
  {'D1': 'dstring3'},
  {'D2': 'dstring3'}],
 '20240615': [{'O1': 'string4'},
  {'O2': 'string4'},
  {'O3': 'string4'},
  {'D1': 'dstring4'},
  {'D2': 'dstring4'}],
 '20240616': [{'O1': 'string5'},
  {'O2': 'string5'},
  {'O3': 'string5'},
  {'D1': 'dstring5'},
  {'D2': 'dstring5'}],
 '20240617': [{'O1': 'string6'},
  {'O2': 'string6'},
  {'O3': 'string6'},
  {'D1': 'dstring6'},
  {'D2': 'dstring6'}],
 '20240618': [{'O1': 'string7'},
  {'O2': 'string7'},
  {'O3': 'string7'},
  {'D1': 'dstring7'},
  {'D2': 'dstring7'}],
 '20240619': [{'O1': 'string8'},
  {'O2': 'string8'},
  {'O3': 'string8'},
  {'D1': 'dstring8'},
  {'D2': 'dstring8'}],
 '20240620': [{'O1': 'string9'},
  {'O2': 'string9'},
  {'O3': 'string9'},
  {'D1': 'dstring9'},
  {'D2': 'dstring9'}],
 '20240621': [{'O1': 'string10'},
  {'O2': 'string10'},
  {'O3': 'string10'},
  {'D1': 'dstring10'},
  {'D2': 'dstring10'}],
 '20240622': [{'O1': 'string11'},
  {'O2': 'string11'},
  {'O3': 'string11'},
  {'D1': 'dstring11'},
  {'D2': 'dstring11'}],
 '20240623': [{'O1': 'string12'},
  {'O2': 'string12'},
  {'O3': 'string12'},
  {'D1': 'dstring12'},
  {'D2': 'dstring12'}],
 '20240624': [{'O1': 'string13'},
  {'O2': 'string13'},
  {'O3': 'string13'},
  {'D1': 'dstring13'},
  {'D2': 'dstring13'}],
 '20240625': [{'O1': 'string14'},
  {'O2': 'string14'},
  {'O3': 'string14'},
  {'D1': 'dstring14'},
  {'D2': 'dstring14'}],
 '20240626': [{'O1': 'string15'},
  {'O2': 'string15'},
  {'O3': 'string15'},
  {'D1': 'dstring15'},
  {'D2': 'dstring15'}],
 '20240627': [{'O1': 'string16'},
  {'O2': 'string16'},
  {'O3': 'string16'},
  {'D1': 'dstring16'},
  {'D2': 'dstring16'}],
 '20240628': [{'O1': 'string17'},
  {'O2': 'string17'},
  {'O3': 'string17'},
  {'D1': 'dstring17'},
  {'D2': 'dstring17'}],
 '20240629': [{'O1': 'string18'},
  {'O2': 'string18'},
  {'O3': 'string18'},
  {'D1': 'dstring18'},
  {'D2': 'dstring18'}],
 '20240630': [{'O1': 'string19'},
  {'O2': 'string19'},
  {'O3': 'string19'},
  {'D1': 'dstring19'},
  {'D2': 'dstring19'}]}

In [15]:
filtered_dict['20240612']

[{'O1': 'string1'},
 {'O2': 'string1'},
 {'O3': 'string1'},
 {'D1': 'dstring1'},
 {'D2': 'dstring1'}]

In [16]:
# Define an iterator class to iterate through the dictionary incrementally based on date
class DateDictIterator:
    def __init__(self, data_dict):
        # Sort the dates to ensure incremental iteration
        self.data_dict = dict(sorted(data_dict.items()))
        self.keys = list(self.data_dict.keys())
        self.index = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.index < len(self.keys):
            key = self.keys[self.index]
            self.index += 1
            return key, self.data_dict[key]
        else:
            raise StopIteration

In [17]:
# Create an instance of the iterator with the filtered dictionary
date_iterator = DateDictIterator(filtered_dict)

In [18]:
# Function to get the next item in the iterator
def get_next_item(iterator):
    try:
        return next(iterator)
    except StopIteration:
        return None

In [19]:

# Example usage to iterate through the dictionary
for key, value in date_iterator:
    print(f"Date: {key}, Data: {value}")

Date: 20240612, Data: [{'O1': 'string1'}, {'O2': 'string1'}, {'O3': 'string1'}, {'D1': 'dstring1'}, {'D2': 'dstring1'}]
Date: 20240613, Data: [{'O1': 'string2'}, {'O2': 'string2'}, {'O3': 'string2'}, {'D1': 'dstring2'}, {'D2': 'dstring2'}]
Date: 20240614, Data: [{'O1': 'string3'}, {'O2': 'string3'}, {'O3': 'string3'}, {'D1': 'dstring3'}, {'D2': 'dstring3'}]
Date: 20240615, Data: [{'O1': 'string4'}, {'O2': 'string4'}, {'O3': 'string4'}, {'D1': 'dstring4'}, {'D2': 'dstring4'}]
Date: 20240616, Data: [{'O1': 'string5'}, {'O2': 'string5'}, {'O3': 'string5'}, {'D1': 'dstring5'}, {'D2': 'dstring5'}]
Date: 20240617, Data: [{'O1': 'string6'}, {'O2': 'string6'}, {'O3': 'string6'}, {'D1': 'dstring6'}, {'D2': 'dstring6'}]
Date: 20240618, Data: [{'O1': 'string7'}, {'O2': 'string7'}, {'O3': 'string7'}, {'D1': 'dstring7'}, {'D2': 'dstring7'}]
Date: 20240619, Data: [{'O1': 'string8'}, {'O2': 'string8'}, {'O3': 'string8'}, {'D1': 'dstring8'}, {'D2': 'dstring8'}]
Date: 20240620, Data: [{'O1': 'string9'}, {'O2': 'string9'}, {'O3': 'string9'}, {'D1': 'dstring9'}, {'D2': 'dstring9'}]
Date: 20240621, Data: [{'O1': 'string10'}, {'O2': 'string10'}, {'O3': 'string10'}, {'D1': 'dstring10'}, {'D2': 'dstring10'}]
Date: 20240622, Data: [{'O1': 'string11'}, {'O2': 'string11'}, {'O3': 'string11'}, {'D1': 'dstring11'}, {'D2': 'dstring11'}]
Date: 20240623, Data: [{'O1': 'string12'}, {'O2': 'string12'}, {'O3': 'string12'}, {'D1': 'dstring12'}, {'D2': 'dstring12'}]
Date: 20240624, Data: [{'O1': 'string13'}, {'O2': 'string13'}, {'O3': 'string13'}, {'D1': 'dstring13'}, {'D2': 'dstring13'}]
Date: 20240625, Data: [{'O1': 'string14'}, {'O2': 'string14'}, {'O3': 'string14'}, {'D1': 'dstring14'}, {'D2': 'dstring14'}]
Date: 20240626, Data: [{'O1': 'string15'}, {'O2': 'string15'}, {'O3': 'string15'}, {'D1': 'dstring15'}, {'D2': 'dstring15'}]
Date: 20240627, Data: [{'O1': 'string16'}, {'O2': 'string16'}, {'O3': 'string16'}, {'D1': 'dstring16'}, {'D2': 'dstring16'}]
Date: 20240628, Data: [{'O1': 'string17'}, {'O2': 'string17'}, {'O3': 'string17'}, {'D1': 'dstring17'}, {'D2': 'dstring17'}]
Date: 20240629, Data: [{'O1': 'string18'}, {'O2': 'string18'}, {'O3': 'string18'}, {'D1': 'dstring18'}, {'D2': 'dstring18'}]
Date: 20240630, Data: [{'O1': 'string19'}, {'O2': 'string19'}, {'O3': 'string19'}, {'D1': 'dstring19'}, {'D2': 'dstring19'}]

In [22]:
import pandas as pd
import pytz
from datetime import datetime

# Function to convert date and time to epoch format
def to_epoch(date_obj, hour, minute, timezone_str='Asia/Kolkata'):
    timezone = pytz.timezone(timezone_str)
    dt = date_obj.replace(hour=hour, minute=minute, second=0, microsecond=0)
    dt = timezone.localize(dt)
    return int(dt.timestamp())

def to_epoch_next_day(date_obj, hour, minute, timezone_str='Asia/Kolkata'):
    timezone = pytz.timezone(timezone_str)
    dt = date_obj + pd.Timedelta(days=1)
    dt = dt.replace(hour=hour, minute=minute, second=0, microsecond=0)
    dt = timezone.localize(dt)
    return int(dt.timestamp())

# Load the uploaded Excel file
file_path = '/home/ravik/src_git/LP/projects/oc/sch.xlsx'
df = pd.read_excel(file_path)

# Ensure the DATE column is in datetime format
df['DATE'] = pd.to_datetime(df['DATE'])

# Add new columns
df['M_S'] = df['DATE'].apply(lambda x: to_epoch(x, 7, 0))
df['M_E'] = df['DATE'].apply(lambda x: to_epoch(x, 14, 0))
df['A_S'] = df['DATE'].apply(lambda x: to_epoch(x, 14, 0))
df['A_E'] = df['DATE'].apply(lambda x: to_epoch(x, 22, 0))
df['N_S'] = df['DATE'].apply(lambda x: to_epoch(x, 22, 0))
df['N_E'] = df['DATE'].apply(lambda x: to_epoch_next_day(x, 7, 0))
df['D1_S'] = df['DATE'].apply(lambda x: to_epoch(x, 9, 0))
df['D1_E'] = df['DATE'].apply(lambda x: to_epoch(x, 21, 0))
df['D2_S'] = df['DATE'].apply(lambda x: to_epoch(x, 21, 0))
df['D2_E'] = df['DATE'].apply(lambda x: to_epoch_next_day(x, 9, 0))

# Convert dataframe to dictionary with formatted date as primary key
data_dict_formatted = df.set_index(df['DATE'].dt.strftime('%Y-%m-%d')).T.to_dict()

# Display the dictionary
data_dict_formatted

{'2024-06-12': {'DATE': Timestamp('2024-06-12 00:00:00'),
  'O1': 'string1',
  'O2': 'string1',
  'O3': 'string1',
  'D1': 'dstring1',
  'D2': 'dstring1',
  'M_S': 1718155800,
  'M_E': 1718181000,
  'A_S': 1718181000,
  'A_E': 1718209800,
  'N_S': 1718209800,
  'N_E': 1718242200,
  'D1_S': 1718163000,
  'D1_E': 1718206200,
  'D2_S': 1718206200,
  'D2_E': 1718249400},
 '2024-06-13': {'DATE': Timestamp('2024-06-13 00:00:00'),
  'O1': 'string2',
  'O2': 'string2',
  'O3': 'string2',
  'D1': 'dstring2',
  'D2': 'dstring2',
  'M_S': 1718242200,
  'M_E': 1718267400,
  'A_S': 1718267400,
  'A_E': 1718296200,
  'N_S': 1718296200,
  'N_E': 1718328600,
  'D1_S': 1718249400,
  'D1_E': 1718292600,
  'D2_S': 1718292600,
  'D2_E': 1718335800},
 '2024-06-14': {'DATE': Timestamp('2024-06-14 00:00:00'),
  'O1': 'string3',
  'O2': 'string3',
  'O3': 'string3',
  'D1': 'dstring3',
  'D2': 'dstring3',
  'M_S': 1718328600,
  'M_E': 1718353800,
  'A_S': 1718353800,
  'A_E': 1718382600,
  'N_S': 1718382600,
  'N_E': 1718415000,
  'D1_S': 1718335800,
  'D1_E': 1718379000,
  'D2_S': 1718379000,
  'D2_E': 1718422200},
 '2024-06-15': {'DATE': Timestamp('2024-06-15 00:00:00'),
  'O1': 'string4',
  'O2': 'string4',
  'O3': 'string4',
  'D1': 'dstring4',
  'D2': 'dstring4',
  'M_S': 1718415000,
  'M_E': 1718440200,
  'A_S': 1718440200,
  'A_E': 1718469000,
  'N_S': 1718469000,
  'N_E': 1718501400,
  'D1_S': 1718422200,
  'D1_E': 1718465400,
  'D2_S': 1718465400,
  'D2_E': 1718508600},
 '2024-06-16': {'DATE': Timestamp('2024-06-16 00:00:00'),
  'O1': 'string5',
  'O2': 'string5',
  'O3': 'string5',
  'D1': 'dstring5',
  'D2': 'dstring5',
  'M_S': 1718501400,
  'M_E': 1718526600,
  'A_S': 1718526600,
  'A_E': 1718555400,
  'N_S': 1718555400,
  'N_E': 1718587800,
  'D1_S': 1718508600,
  'D1_E': 1718551800,
  'D2_S': 1718551800,
  'D2_E': 1718595000},
 '2024-06-17': {'DATE': Timestamp('2024-06-17 00:00:00'),
  'O1': 'string6',
  'O2': 'string6',
  'O3': 'string6',
  'D1': 'dstring6',
  'D2': 'dstring6',
  'M_S': 1718587800,
  'M_E': 1718613000,
  'A_S': 1718613000,
  'A_E': 1718641800,
  'N_S': 1718641800,
  'N_E': 1718674200,
  'D1_S': 1718595000,
  'D1_E': 1718638200,
  'D2_S': 1718638200,
  'D2_E': 1718681400},
 '2024-06-18': {'DATE': Timestamp('2024-06-18 00:00:00'),
  'O1': 'string7',
  'O2': 'string7',
  'O3': 'string7',
  'D1': 'dstring7',
  'D2': 'dstring7',
  'M_S': 1718674200,
  'M_E': 1718699400,
  'A_S': 1718699400,
  'A_E': 1718728200,
  'N_S': 1718728200,
  'N_E': 1718760600,
  'D1_S': 1718681400,
  'D1_E': 1718724600,
  'D2_S': 1718724600,
  'D2_E': 1718767800},
 '2024-06-19': {'DATE': Timestamp('2024-06-19 00:00:00'),
  'O1': 'string8',
  'O2': 'string8',
  'O3': 'string8',
  'D1': 'dstring8',
  'D2': 'dstring8',
  'M_S': 1718760600,
  'M_E': 1718785800,
  'A_S': 1718785800,
  'A_E': 1718814600,
  'N_S': 1718814600,
  'N_E': 1718847000,
  'D1_S': 1718767800,
  'D1_E': 1718811000,
  'D2_S': 1718811000,
  'D2_E': 1718854200},
 '2024-06-20': {'DATE': Timestamp('2024-06-20 00:00:00'),
  'O1': 'string9',
  'O2': 'string9',
  'O3': 'string9',
  'D1': 'dstring9',
  'D2': 'dstring9',
  'M_S': 1718847000,
  'M_E': 1718872200,
  'A_S': 1718872200,
  'A_E': 1718901000,
  'N_S': 1718901000,
  'N_E': 1718933400,
  'D1_S': 1718854200,
  'D1_E': 1718897400,
  'D2_S': 1718897400,
  'D2_E': 1718940600},
 '2024-06-21': {'DATE': Timestamp('2024-06-21 00:00:00'),
  'O1': 'string10',
  'O2': 'string10',
  'O3': 'string10',
  'D1': 'dstring10',
  'D2': 'dstring10',
  'M_S': 1718933400,
  'M_E': 1718958600,
  'A_S': 1718958600,
  'A_E': 1718987400,
  'N_S': 1718987400,
  'N_E': 1719019800,
  'D1_S': 1718940600,
  'D1_E': 1718983800,
  'D2_S': 1718983800,
  'D2_E': 1719027000},
 '2024-06-22': {'DATE': Timestamp('2024-06-22 00:00:00'),
  'O1': 'string11',
  'O2': 'string11',
  'O3': 'string11',
  'D1': 'dstring11',
  'D2': 'dstring11',
  'M_S': 1719019800,
  'M_E': 1719045000,
  'A_S': 1719045000,
  'A_E': 1719073800,
  'N_S': 1719073800,
  'N_E': 1719106200,
  'D1_S': 1719027000,
  'D1_E': 1719070200,
  'D2_S': 1719070200,
  'D2_E': 1719113400},
 '2024-06-23': {'DATE': Timestamp('2024-06-23 00:00:00'),
  'O1': 'string12',
  'O2': 'string12',
  'O3': 'string12',
  'D1': 'dstring12',
  'D2': 'dstring12',
  'M_S': 1719106200,
  'M_E': 1719131400,
  'A_S': 1719131400,
  'A_E': 1719160200,
  'N_S': 1719160200,
  'N_E': 1719192600,
  'D1_S': 1719113400,
  'D1_E': 1719156600,
  'D2_S': 1719156600,
  'D2_E': 1719199800},
 '2024-06-24': {'DATE': Timestamp('2024-06-24 00:00:00'),
  'O1': 'string13',
  'O2': 'string13',
  'O3': 'string13',
  'D1': 'dstring13',
  'D2': 'dstring13',
  'M_S': 1719192600,
  'M_E': 1719217800,
  'A_S': 1719217800,
  'A_E': 1719246600,
  'N_S': 1719246600,
  'N_E': 1719279000,
  'D1_S': 1719199800,
  'D1_E': 1719243000,
  'D2_S': 1719243000,
  'D2_E': 1719286200},
 '2024-06-25': {'DATE': Timestamp('2024-06-25 00:00:00'),
  'O1': 'string14',
  'O2': 'string14',
  'O3': 'string14',
  'D1': 'dstring14',
  'D2': 'dstring14',
  'M_S': 1719279000,
  'M_E': 1719304200,
  'A_S': 1719304200,
  'A_E': 1719333000,
  'N_S': 1719333000,
  'N_E': 1719365400,
  'D1_S': 1719286200,
  'D1_E': 1719329400,
  'D2_S': 1719329400,
  'D2_E': 1719372600},
 '2024-06-26': {'DATE': Timestamp('2024-06-26 00:00:00'),
  'O1': 'string15',
  'O2': 'string15',
  'O3': 'string15',
  'D1': 'dstring15',
  'D2': 'dstring15',
  'M_S': 1719365400,
  'M_E': 1719390600,
  'A_S': 1719390600,
  'A_E': 1719419400,
  'N_S': 1719419400,
  'N_E': 1719451800,
  'D1_S': 1719372600,
  'D1_E': 1719415800,
  'D2_S': 1719415800,
  'D2_E': 1719459000},
 '2024-06-27': {'DATE': Timestamp('2024-06-27 00:00:00'),
  'O1': 'string16',
  'O2': 'string16',
  'O3': 'string16',
  'D1': 'dstring16',
  'D2': 'dstring16',
  'M_S': 1719451800,
  'M_E': 1719477000,
  'A_S': 1719477000,
  'A_E': 1719505800,
  'N_S': 1719505800,
  'N_E': 1719538200,
  'D1_S': 1719459000,
  'D1_E': 1719502200,
  'D2_S': 1719502200,
  'D2_E': 1719545400},
 '2024-06-28': {'DATE': Timestamp('2024-06-28 00:00:00'),
  'O1': 'string17',
  'O2': 'string17',
  'O3': 'string17',
  'D1': 'dstring17',
  'D2': 'dstring17',
  'M_S': 1719538200,
  'M_E': 1719563400,
  'A_S': 1719563400,
  'A_E': 1719592200,
  'N_S': 1719592200,
  'N_E': 1719624600,
  'D1_S': 1719545400,
  'D1_E': 1719588600,
  'D2_S': 1719588600,
  'D2_E': 1719631800},
 '2024-06-29': {'DATE': Timestamp('2024-06-29 00:00:00'),
  'O1': 'string18',
  'O2': 'string18',
  'O3': 'string18',
  'D1': 'dstring18',
  'D2': 'dstring18',
  'M_S': 1719624600,
  'M_E': 1719649800,
  'A_S': 1719649800,
  'A_E': 1719678600,
  'N_S': 1719678600,
  'N_E': 1719711000,
  'D1_S': 1719631800,
  'D1_E': 1719675000,
  'D2_S': 1719675000,
  'D2_E': 1719718200},
 '2024-06-30': {'DATE': Timestamp('2024-06-30 00:00:00'),
  'O1': 'string19',
  'O2': 'string19',
  'O3': 'string19',
  'D1': 'dstring19',
  'D2': 'dstring19',
  'M_S': 1719711000,
  'M_E': 1719736200,
  'A_S': 1719736200,
  'A_E': 1719765000,
  'N_S': 1719765000,
  'N_E': 1719797400,
  'D1_S': 1719718200,
  'D1_E': 1719761400,
  'D2_S': 1719761400,
  'D2_E': 1719804600},
 '2024-07-01': {'DATE': Timestamp('2024-07-01 00:00:00'),
  'O1': 'string20',
  'O2': 'string20',
  'O3': 'string20',
  'D1': 'dstring20',
  'D2': 'dstring20',
  'M_S': 1719797400,
  'M_E': 1719822600,
  'A_S': 1719822600,
  'A_E': 1719851400,
  'N_S': 1719851400,
  'N_E': 1719883800,
  'D1_S': 1719804600,
  'D1_E': 1719847800,
  'D2_S': 1719847800,
  'D2_E': 1719891000},
 '2024-07-02': {'DATE': Timestamp('2024-07-02 00:00:00'),
  'O1': 'string21',
  'O2': 'string21',
  'O3': 'string21',
  'D1': 'dstring21',
  'D2': 'dstring21',
  'M_S': 1719883800,
  'M_E': 1719909000,
  'A_S': 1719909000,
  'A_E': 1719937800,
  'N_S': 1719937800,
  'N_E': 1719970200,
  'D1_S': 1719891000,
  'D1_E': 1719934200,
  'D2_S': 1719934200,
  'D2_E': 1719977400},
 '2024-07-03': {'DATE': Timestamp('2024-07-03 00:00:00'),
  'O1': 'string22',
  'O2': 'string22',
  'O3': 'string22',
  'D1': 'dstring22',
  'D2': 'dstring22',
  'M_S': 1719970200,
  'M_E': 1719995400,
  'A_S': 1719995400,
  'A_E': 1720024200,
  'N_S': 1720024200,
  'N_E': 1720056600,
  'D1_S': 1719977400,
  'D1_E': 1720020600,
  'D2_S': 1720020600,
  'D2_E': 1720063800},
 '2024-07-04': {'DATE': Timestamp('2024-07-04 00:00:00'),
  'O1': 'string23',
  'O2': 'string23',
  'O3': 'string23',
  'D1': 'dstring23',
  'D2': 'dstring23',
  'M_S': 1720056600,
  'M_E': 1720081800,
  'A_S': 1720081800,
  'A_E': 1720110600,
  'N_S': 1720110600,
  'N_E': 1720143000,
  'D1_S': 1720063800,
  'D1_E': 1720107000,
  'D2_S': 1720107000,
  'D2_E': 1720150200},
 '2024-07-05': {'DATE': Timestamp('2024-07-05 00:00:00'),
  'O1': 'string24',
  'O2': 'string24',
  'O3': 'string24',
  'D1': 'dstring24',
  'D2': 'dstring24',
  'M_S': 1720143000,
  'M_E': 1720168200,
  'A_S': 1720168200,
  'A_E': 1720197000,
  'N_S': 1720197000,
  'N_E': 1720229400,
  'D1_S': 1720150200,
  'D1_E': 1720193400,
  'D2_S': 1720193400,
  'D2_E': 1720236600}}

In [23]:
data_dict_formatted['2024-06-12']['O1']

'string1'

In [24]:
import pandas as pd
import pytz
from datetime import datetime

# Function to convert date and time to epoch format
def to_epoch(date_obj, hour, minute, timezone_str='Asia/Kolkata'):
    timezone = pytz.timezone(timezone_str)
    dt = date_obj.replace(hour=hour, minute=minute, second=0, microsecond=0)
    dt = timezone.localize(dt)
    return int(dt.timestamp())

def to_epoch_next_day(date_obj, hour, minute, timezone_str='Asia/Kolkata'):
    timezone = pytz.timezone(timezone_str)
    dt = date_obj + pd.Timedelta(days=1)
    dt = dt.replace(hour=hour, minute=minute, second=0, microsecond=0)
    dt = timezone.localize(dt)
    return int(dt.timestamp())

# Load the uploaded Excel file
file_path = '/home/ravik/src_git/LP/projects/oc/sch.xlsx'
df = pd.read_excel(file_path)

# Ensure the DATE column is in datetime format
df['DATE'] = pd.to_datetime(df['DATE'])

# Add new columns
df['M_S'] = df['DATE'].apply(lambda x: to_epoch(x, 7, 0))
df['M_E'] = df['DATE'].apply(lambda x: to_epoch(x, 14, 0))
df['A_S'] = df['DATE'].apply(lambda x: to_epoch(x, 14, 0))
df['A_E'] = df['DATE'].apply(lambda x: to_epoch(x, 22, 0))
df['N_S'] = df['DATE'].apply(lambda x: to_epoch(x, 22, 0))
df['N_E'] = df['DATE'].apply(lambda x: to_epoch_next_day(x, 7, 0))
df['D1_S'] = df['DATE'].apply(lambda x: to_epoch(x, 9, 0))
df['D1_E'] = df['DATE'].apply(lambda x: to_epoch(x, 21, 0))
df['D2_S'] = df['DATE'].apply(lambda x: to_epoch(x, 21, 0))
df['D2_E'] = df['DATE'].apply(lambda x: to_epoch_next_day(x, 9, 0))

# Convert dataframe to dictionary with formatted date as primary key and exclude 'DATE' from values
data_dict_formatted = df.set_index(df['DATE'].dt.strftime('%Y-%m-%d')).drop(columns=['DATE']).T.to_dict()

# Display the dictionary
data_dict_formatted

{'2024-06-12': {'O1': 'string1',
  'O2': 'string1',
  'O3': 'string1',
  'D1': 'dstring1',
  'D2': 'dstring1',
  'M_S': 1718155800,
  'M_E': 1718181000,
  'A_S': 1718181000,
  'A_E': 1718209800,
  'N_S': 1718209800,
  'N_E': 1718242200,
  'D1_S': 1718163000,
  'D1_E': 1718206200,
  'D2_S': 1718206200,
  'D2_E': 1718249400},
 '2024-06-13': {'O1': 'string2',
  'O2': 'string2',
  'O3': 'string2',
  'D1': 'dstring2',
  'D2': 'dstring2',
  'M_S': 1718242200,
  'M_E': 1718267400,
  'A_S': 1718267400,
  'A_E': 1718296200,
  'N_S': 1718296200,
  'N_E': 1718328600,
  'D1_S': 1718249400,
  'D1_E': 1718292600,
  'D2_S': 1718292600,
  'D2_E': 1718335800},
 '2024-06-14': {'O1': 'string3',
  'O2': 'string3',
  'O3': 'string3',
  'D1': 'dstring3',
  'D2': 'dstring3',
  'M_S': 1718328600,
  'M_E': 1718353800,
  'A_S': 1718353800,
  'A_E': 1718382600,
  'N_S': 1718382600,
  'N_E': 1718415000,
  'D1_S': 1718335800,
  'D1_E': 1718379000,
  'D2_S': 1718379000,
  'D2_E': 1718422200},
 '2024-06-15': {'O1': 'string4',
  'O2': 'string4',
  'O3': 'string4',
  'D1': 'dstring4',
  'D2': 'dstring4',
  'M_S': 1718415000,
  'M_E': 1718440200,
  'A_S': 1718440200,
  'A_E': 1718469000,
  'N_S': 1718469000,
  'N_E': 1718501400,
  'D1_S': 1718422200,
  'D1_E': 1718465400,
  'D2_S': 1718465400,
  'D2_E': 1718508600},
 '2024-06-16': {'O1': 'string5',
  'O2': 'string5',
  'O3': 'string5',
  'D1': 'dstring5',
  'D2': 'dstring5',
  'M_S': 1718501400,
  'M_E': 1718526600,
  'A_S': 1718526600,
  'A_E': 1718555400,
  'N_S': 1718555400,
  'N_E': 1718587800,
  'D1_S': 1718508600,
  'D1_E': 1718551800,
  'D2_S': 1718551800,
  'D2_E': 1718595000},
 '2024-06-17': {'O1': 'string6',
  'O2': 'string6',
  'O3': 'string6',
  'D1': 'dstring6',
  'D2': 'dstring6',
  'M_S': 1718587800,
  'M_E': 1718613000,
  'A_S': 1718613000,
  'A_E': 1718641800,
  'N_S': 1718641800,
  'N_E': 1718674200,
  'D1_S': 1718595000,
  'D1_E': 1718638200,
  'D2_S': 1718638200,
  'D2_E': 1718681400},
 '2024-06-18': {'O1': 'string7',
  'O2': 'string7',
  'O3': 'string7',
  'D1': 'dstring7',
  'D2': 'dstring7',
  'M_S': 1718674200,
  'M_E': 1718699400,
  'A_S': 1718699400,
  'A_E': 1718728200,
  'N_S': 1718728200,
  'N_E': 1718760600,
  'D1_S': 1718681400,
  'D1_E': 1718724600,
  'D2_S': 1718724600,
  'D2_E': 1718767800},
 '2024-06-19': {'O1': 'string8',
  'O2': 'string8',
  'O3': 'string8',
  'D1': 'dstring8',
  'D2': 'dstring8',
  'M_S': 1718760600,
  'M_E': 1718785800,
  'A_S': 1718785800,
  'A_E': 1718814600,
  'N_S': 1718814600,
  'N_E': 1718847000,
  'D1_S': 1718767800,
  'D1_E': 1718811000,
  'D2_S': 1718811000,
  'D2_E': 1718854200},
 '2024-06-20': {'O1': 'string9',
  'O2': 'string9',
  'O3': 'string9',
  'D1': 'dstring9',
  'D2': 'dstring9',
  'M_S': 1718847000,
  'M_E': 1718872200,
  'A_S': 1718872200,
  'A_E': 1718901000,
  'N_S': 1718901000,
  'N_E': 1718933400,
  'D1_S': 1718854200,
  'D1_E': 1718897400,
  'D2_S': 1718897400,
  'D2_E': 1718940600},
 '2024-06-21': {'O1': 'string10',
  'O2': 'string10',
  'O3': 'string10',
  'D1': 'dstring10',
  'D2': 'dstring10',
  'M_S': 1718933400,
  'M_E': 1718958600,
  'A_S': 1718958600,
  'A_E': 1718987400,
  'N_S': 1718987400,
  'N_E': 1719019800,
  'D1_S': 1718940600,
  'D1_E': 1718983800,
  'D2_S': 1718983800,
  'D2_E': 1719027000},
 '2024-06-22': {'O1': 'string11',
  'O2': 'string11',
  'O3': 'string11',
  'D1': 'dstring11',
  'D2': 'dstring11',
  'M_S': 1719019800,
  'M_E': 1719045000,
  'A_S': 1719045000,
  'A_E': 1719073800,
  'N_S': 1719073800,
  'N_E': 1719106200,
  'D1_S': 1719027000,
  'D1_E': 1719070200,
  'D2_S': 1719070200,
  'D2_E': 1719113400},
 '2024-06-23': {'O1': 'string12',
  'O2': 'string12',
  'O3': 'string12',
  'D1': 'dstring12',
  'D2': 'dstring12',
  'M_S': 1719106200,
  'M_E': 1719131400,
  'A_S': 1719131400,
  'A_E': 1719160200,
  'N_S': 1719160200,
  'N_E': 1719192600,
  'D1_S': 1719113400,
  'D1_E': 1719156600,
  'D2_S': 1719156600,
  'D2_E': 1719199800},
 '2024-06-24': {'O1': 'string13',
  'O2': 'string13',
  'O3': 'string13',
  'D1': 'dstring13',
  'D2': 'dstring13',
  'M_S': 1719192600,
  'M_E': 1719217800,
  'A_S': 1719217800,
  'A_E': 1719246600,
  'N_S': 1719246600,
  'N_E': 1719279000,
  'D1_S': 1719199800,
  'D1_E': 1719243000,
  'D2_S': 1719243000,
  'D2_E': 1719286200},
 '2024-06-25': {'O1': 'string14',
  'O2': 'string14',
  'O3': 'string14',
  'D1': 'dstring14',
  'D2': 'dstring14',
  'M_S': 1719279000,
  'M_E': 1719304200,
  'A_S': 1719304200,
  'A_E': 1719333000,
  'N_S': 1719333000,
  'N_E': 1719365400,
  'D1_S': 1719286200,
  'D1_E': 1719329400,
  'D2_S': 1719329400,
  'D2_E': 1719372600},
 '2024-06-26': {'O1': 'string15',
  'O2': 'string15',
  'O3': 'string15',
  'D1': 'dstring15',
  'D2': 'dstring15',
  'M_S': 1719365400,
  'M_E': 1719390600,
  'A_S': 1719390600,
  'A_E': 1719419400,
  'N_S': 1719419400,
  'N_E': 1719451800,
  'D1_S': 1719372600,
  'D1_E': 1719415800,
  'D2_S': 1719415800,
  'D2_E': 1719459000},
 '2024-06-27': {'O1': 'string16',
  'O2': 'string16',
  'O3': 'string16',
  'D1': 'dstring16',
  'D2': 'dstring16',
  'M_S': 1719451800,
  'M_E': 1719477000,
  'A_S': 1719477000,
  'A_E': 1719505800,
  'N_S': 1719505800,
  'N_E': 1719538200,
  'D1_S': 1719459000,
  'D1_E': 1719502200,
  'D2_S': 1719502200,
  'D2_E': 1719545400},
 '2024-06-28': {'O1': 'string17',
  'O2': 'string17',
  'O3': 'string17',
  'D1': 'dstring17',
  'D2': 'dstring17',
  'M_S': 1719538200,
  'M_E': 1719563400,
  'A_S': 1719563400,
  'A_E': 1719592200,
  'N_S': 1719592200,
  'N_E': 1719624600,
  'D1_S': 1719545400,
  'D1_E': 1719588600,
  'D2_S': 1719588600,
  'D2_E': 1719631800},
 '2024-06-29': {'O1': 'string18',
  'O2': 'string18',
  'O3': 'string18',
  'D1': 'dstring18',
  'D2': 'dstring18',
  'M_S': 1719624600,
  'M_E': 1719649800,
  'A_S': 1719649800,
  'A_E': 1719678600,
  'N_S': 1719678600,
  'N_E': 1719711000,
  'D1_S': 1719631800,
  'D1_E': 1719675000,
  'D2_S': 1719675000,
  'D2_E': 1719718200},
 '2024-06-30': {'O1': 'string19',
  'O2': 'string19',
  'O3': 'string19',
  'D1': 'dstring19',
  'D2': 'dstring19',
  'M_S': 1719711000,
  'M_E': 1719736200,
  'A_S': 1719736200,
  'A_E': 1719765000,
  'N_S': 1719765000,
  'N_E': 1719797400,
  'D1_S': 1719718200,
  'D1_E': 1719761400,
  'D2_S': 1719761400,
  'D2_E': 1719804600},
 '2024-07-01': {'O1': 'string20',
  'O2': 'string20',
  'O3': 'string20',
  'D1': 'dstring20',
  'D2': 'dstring20',
  'M_S': 1719797400,
  'M_E': 1719822600,
  'A_S': 1719822600,
  'A_E': 1719851400,
  'N_S': 1719851400,
  'N_E': 1719883800,
  'D1_S': 1719804600,
  'D1_E': 1719847800,
  'D2_S': 1719847800,
  'D2_E': 1719891000},
 '2024-07-02': {'O1': 'string21',
  'O2': 'string21',
  'O3': 'string21',
  'D1': 'dstring21',
  'D2': 'dstring21',
  'M_S': 1719883800,
  'M_E': 1719909000,
  'A_S': 1719909000,
  'A_E': 1719937800,
  'N_S': 1719937800,
  'N_E': 1719970200,
  'D1_S': 1719891000,
  'D1_E': 1719934200,
  'D2_S': 1719934200,
  'D2_E': 1719977400},
 '2024-07-03': {'O1': 'string22',
  'O2': 'string22',
  'O3': 'string22',
  'D1': 'dstring22',
  'D2': 'dstring22',
  'M_S': 1719970200,
  'M_E': 1719995400,
  'A_S': 1719995400,
  'A_E': 1720024200,
  'N_S': 1720024200,
  'N_E': 1720056600,
  'D1_S': 1719977400,
  'D1_E': 1720020600,
  'D2_S': 1720020600,
  'D2_E': 1720063800},
 '2024-07-04': {'O1': 'string23',
  'O2': 'string23',
  'O3': 'string23',
  'D1': 'dstring23',
  'D2': 'dstring23',
  'M_S': 1720056600,
  'M_E': 1720081800,
  'A_S': 1720081800,
  'A_E': 1720110600,
  'N_S': 1720110600,
  'N_E': 1720143000,
  'D1_S': 1720063800,
  'D1_E': 1720107000,
  'D2_S': 1720107000,
  'D2_E': 1720150200},
 '2024-07-05': {'O1': 'string24',
  'O2': 'string24',
  'O3': 'string24',
  'D1': 'dstring24',
  'D2': 'dstring24',
  'M_S': 1720143000,
  'M_E': 1720168200,
  'A_S': 1720168200,
  'A_E': 1720197000,
  'N_S': 1720197000,
  'N_E': 1720229400,
  'D1_S': 1720150200,
  'D1_E': 1720193400,
  'D2_S': 1720193400,
  'D2_E': 1720236600}}