In [1]:
string1 = 'Welcome'
for i in string1:
    print(i)

W
e
l
c
o
m
e

In [3]:
dict1 = {'a':1, 'b':2, 'c':3}
for i in dict1.values():
    print(i)

1
2
3

In [12]:
_ = list
mylist = _(range(1,11))
for i in mylist:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number {i}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [15]:
_ = list
mylist = _(range(1, 1001))
list_sum = 0
for i in mylist:
    list_sum = list_sum + i
print(list_sum)

500500

In [16]:
mystring = 'Hello World'
for i in mystring:
    print(i * 2)

HH
ee
ll
ll
oo

WW
oo
rr
ll
dd

In [17]:
tup = (1, 2, 3)
for i in tup:
    print(i)

1
2
3

In [20]:
# tuple unpacking.
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(mylist)
for (a, b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [22]:
mylist = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]
len(mylist)
for a, b, c in mylist:
    print(b)

2
6
9

In [25]:
d = {'k1':1, 'k2':2, 'k3':3}
for i,j in d.items():
    print(i)

k1
k2
k3

In [26]:
d = {'k1':1, 'k2':2, 'k3':3}
for i in d.keys():
    print(i)

k1
k2
k3

In [27]:
d = {'k1':1, 'k2':2, 'k3':3}
for i in d.values():
    print(i)

1
2
3