In [1]:
mystring = 'hello'

In [2]:
# Traditional and old.
mylist = []
for i in mystring:
    mylist.append(i)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
# new method
mystring = 'hello'
mylist1 = [i for i in mystring]  # flattened out for loop.
print(mylist1)

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [x for x in 'word']
print(mylist)

['w', 'o', 'r', 'd']

In [11]:
mylist = [x ** 2 for x in range(0, 11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
mylist = [x ** 2 for x in range(0, 11) if x % 2 == 0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [15]:
celcius = [0, 10, 30, 44.5, 34]
f = [round(( (9/5) * temp + 32),2) for temp in celcius]
f

[32.0, 50.0, 86.0, 112.1, 93.2]

In [17]:
# using if-else in list comprehensions.
results = [x if x % 2 == 0 else 'ODD' for x in range(0, 11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [19]:
# nested loop.
mylist = []
for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x * y)
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [21]:
# nested loop in list comprehensions.
mylist = [x * y for x in [2, 4, 6] for y in [6, 60, 6000]]
mylist

[12, 120, 12000, 24, 240, 24000, 36, 360, 36000]